* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
    display: flex;
}

.container {
    background: linear-gradient(#0291ff, #ffc800);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.todo-list {
    background: white;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 600px;
    height: 500px;
    box-shadow: 0px 0px 20px white;
    border: 1px solid white;
    border-radius: 20px;
}

.header {
    padding: 2em;
    text-align: center;
}

.header h1 .clearBtn {
    padding: 0.5em;
    background: rgba(255, 0, 0, 0.635);
    color: white;
    border-radius: 0.5em;
    border: none;
}

.list {
    flex-grow: 1;
    padding: 1em;
    overflow-y: auto;
}

.add-task {
    padding: 2em;
    display: flex;
}

.add-task input {
    padding: 1em;
    flex-grow: 1;
    border: 1px solid #005aa0;
    border-radius: 10px 0 0 10px;
    border-right: none;
    outline: #ffc800;
}

.add-task button {
    padding: 1em;
    color: white;
    background-color: #0291ff;
    border: 1px solid #005aa0;
    border-radius: 0 10px 10px 0;
}

ul#box {
    list-style-type: none;
}

ul#box li {
    border-bottom: 0.5px solid #0291ff7e;
    padding: 1em 0;
    color: #ffc800;
    font-weight: bold;
}

ul#box li a {
    float: right;
}